// Hero

// Mix-ins
@mixin text-shadow {
    text-shadow: 2px 2px 5px $black;
}

.section {
    padding: 5em 0;
}

.hero {
    background-image: url(../static/vitae-hero.jpg);
    background-position: 100% center;
    transition: background-position;
    background-attachment: fixed;

    overflow: hidden;
    @include text-shadow;

    color: $white;

    &.section {
        padding: 0;
    }
    .hero__wrap {
        background: rgba(0, 0, 0, 0.35);
        padding: 4em 2em;
        height: 101%;
    }

    .hero__logo {
        height: 135px;
        width: 272px;
        background-image: url(../static/logo.png);
        background-repeat: no-repeat;
        // hide text
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .hero__tagline {
        font-size: 150%;
        padding: 2em 0;
    }

    .hero__buttons {
        a {
            // Make the buttons appear at their intended size and with intended style
            display: block;
            &.btn {
                text-decoration: none;
            }
        }
    }
}

.footer {
    padding: 2em 0;
    height: 150px;
    background-image: url(../static/vitae-hero.jpg);
    background-position: 50% 15%;
    background-attachment: fixed;
    color: $white;
    @include text-shadow;
    text-align: center;
}
