// Main SCSS file
@import 'config/colors.scss';
@import 'config/fonts.scss';
@import 'config/grid.scss';



@import 'sections/hero.scss';
@import 'sections/info.scss';
@import 'sections/order.scss';

body {
    margin: 0;
    padding: 0;
}

.btn {
    border: 2px solid $white;
    color: $white;
    background-color: transparent;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 100%;
    padding: 1em;

    &.btn--green {
        border-color: $darkgreen;
        color: $darkgreen;
    }
}
